#sdiv111 {
  margin-right: 0px;
  margin-left: 15px;
}
#sdiv112 {
  margin-left: 15px;
}
input {
  width: 25px;
}
#sdiv113 {
  font-size: 12px;
}
h6 {
  margin-left: 15px;
}
#sdiv114em {
  margin-left: 15px;
  font-size: 15px;
}
