.contactus-section {
  margin: 10rem 0;
}
.contactus-leftside img {
  min-width: 80%;
  max-height: 300px;
  height: auto;
}
.contact-input-field {
  margin-bottom: 40px;
}
.contact-rightside form .form-control {
  height: 4rem;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: lighter;
}
.contact-rightside form .form-check-input {
  width: 1.6em;
  height: 1.6em;
}
.form-checkbox-style {
  margin: 3rem 0;
}
.contact-rightside form .main-hero-para {
  font-size: 1rem;
  margin: 0;
  font-weight: lighter;
  width: 75%;
  padding: 0 1.6rem;
}
