.productCart {
  display: flex;
  margin: 20px auto;
}
.productCart__image {
  object-fit: contain;
  width: 160px;
  height: 160px;
  border: 1px solid #ccc;
}
.productCart__title {
  font-size: 16px;
  font-weight: bold;
}
.productCart__info {
  padding-left: 20px;
}
.productCart__info > button {
  border: 1px solid;
  background-color: #f0c14b;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}
