
/*  
  .ant-steps-icon-dot{
     background-color:#d36455 !important;
  }
  .ant-steps-item-icon  .ant-steps-icon {
      color: #d36455 !important;
  } */
  .mainContainer{
     padding-left: 10%;
     padding-right: 10%;
     padding-bottom: 10%;
  }
 